

.square-button div.number {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	display: block;
	margin: auto;
	text-align: center;
	position: relative;
	top: 25px;
}

#vortex {
	width: 80%;
	height: 450px;
	position: relative;
	margin:0px 0px 0px 10px;
}
.square-button {
	height: 170px;
	position: absolute;
	width: 170px;
	cursor:pointer;
	border-radius: 100%;
	z-index: 10;
	overflow: hidden;
	border: 3px solid rgba(255,255,255,0.3); box-shadow: 0px 0px 5px #666;
}
.square-button a{ text-decoration:none; color:rgba(0,102,153,1);}
.square-button img{ border-radius:100%; }
.square-button h3{ position: absolute; z-index: 100; bottom: 0px; width: 100%; float: left; text-align: center; padding: 10px 30px 10px 30px; background: rgba(0,0,0,0.7); color: #fff; }
.square-button:hover h3{ color: #FAF101 }
.div_center{ position:absolute; z-index:10; top:300px; left:330px; }